[include]
  path = ~/.gituser
[color]
  ui = true

[color "diff-highlight"]
  oldNormal = red bold
  newNormal = green bold
  oldHightlight = red bold 52
  newHighlight = green bold 22

[color "diff"]
  meta = 227
  frag = magenta bold
  commit = 227 bold
  old = red bold
  new = green bold
  whitespace = red reverse

[diff]
  tool = meld
  algorithm = patience

[difftool]
  prompt = false
  tool = meld

[alias]
  dt = difftool -d
  st = status
  ci = commit
  co = checkout
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
  lc = log --name-status --color HEAD^..HEAD
  qdd = add
  cm = commit -m
  update-submodules = submodule foreach git pull origin master
  gud = push --force-with-lease
  squash = commit --amend
  lgf = log --
  cosm = "!f(){ git checkout \"$@\" && git submodule update --init --recursive; }; f"

[core]
  excludesfile = ~/.gitignore_global
  pager = "diff-so-fancy | less --tabs=4 -R -g -i -M -S -w"

[diff "nodiff"]
  command = /bin/true

[push]
  default = simple

[filter "lfs"]
  smudge = git-lfs smudge %f
  required = true
  clean = git-lfs clean %f

[fetch]
  prune = true

[branch]
  autosetuprebase = always

[status]
  short = true

[merge]
  tool = meld
