[include]
  path = ~/.gituser
[color]
  ui = auto
[diff]
  tool = meld
  algorithm = patience
[difftool]
  prompt = false
  tool = meld
[alias]
  dt = difftool -d
  st = status
  ci = commit
  co = checkout
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
  lc = log --name-status --color HEAD^..HEAD
  qdd = add
  cm = commit -m
  update-submodules = submodule foreach git pull origin master
  gud = push --force-with-lease
  squash = commit --amend
  lgf = log --
  cosm = "!f(){ git checkout \"$@\" && git submodule update --init --recursive; }; f"
[core]
  excludesfile = ~/.gitignore_global
[diff "nodiff"]
  command = /bin/true
[push]
  default = simple
[filter "lfs"]
  smudge = git-lfs smudge %f
  required = true
  clean = git-lfs clean %f
[fetch]
  prune = true
[branch]
  autosetuprebase = always

[status]
  short = true
