[submodule "prezto"]
	path = prezto
	url = git@github.com:abak/prezto.git
[submodule "vim/.vim/bundle/Vundle.vim"]
	path = vim/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "scripts/diff-so-fancy-repo"]
	path = scripts/diff-so-fancy-repo
	url = git@github.com:so-fancy/diff-so-fancy.git
[submodule "fish/.config/fish/functions/pure"]
	path = fish/.config/fish/functions/pure
	url = git@github.com:paulirish/pure.git
[submodule "fish/.config/fish/functions/z-fish"]
	path = fish/.config/fish/functions/z-fish
	url = git@github.com:roryokane/z-fish.git
